# ==== Python / FastAPI backend ====
venv/
.venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd
*.pyo
# logs/

# Logs
*.log

# ==== FAISS / Embeddings / Index files ====
# *.faiss
# *.index
# *.pkl
# *.npy


# ==== Models (Llama.cpp GGUF etc.) ====
models/*.gguf

# Cache files
*.cache

# ==== VS Code ====
.vscode/